Fintech-Leads-Middle-East.json
{
  "name": "Fintech Leads Middle East",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "id": "de3c237c-6e24-4b2b-b238-0d91455348f8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        480
      ],
      "id": "828a3b03-7b6c-4e35-a29f-9852271ad9ce",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "bjlOw0yNlqrjXTrQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"articles\"],\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"The title of the newsletter\"\n    },\n    \"articles\": {\n      \"type\": \"array\",\n      \"description\": \"An array of 5 to 10 articles\",\n      \"minItems\": 2,\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"string\" \n      }\n    }\n  },\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        192
      ],
      "id": "c225c6cf-f2a3-4df1-a82d-f149d4794799",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "ba1dbb6f-002b-48fa-a1f8-1c4ebc74f841",
      "name": "Split Out"
    },
    {
      "parameters": {
        "query": "={{ $json['output.articles'] }}",
        "options": {
          "max_results": 2,
          "time_range": "week",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "0890e6e4-12e1-4d57-962b-3fa3f78dc2bb",
      "name": "Research Topics",
      "credentials": {
        "tavilyApi": {
          "id": "Lyjzg8wK2eL9A0pB",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.query }}\n\nResearch:\n{{ $json.results.map(item => JSON.stringify(item,null, 2)).join(\"\\n\\n\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional Backbase Sales Agent and Section Writer. You will receive a curated list of Middle East Fintech articles selected by the Planning Agent, along with a newsletter title.\n\nYour task is to:\n- Always create an approproiate title\n- Articles that have multiple research results, ALWAYS merge them into a single article\n- Do not write an overall title, introduction, or conclusion — only individual sections.\n- Write in a professional, expert, and engaging tone suitable for a business newsletter.\n- If you reference facts, data, or quotes, you must cite your sources with the actual clickable URLs.\n- Keep each section concise, well-structured, and easy to read.\n- Ensure sections are roughly similar in length to maintain balance.\n- Write a recommendation on how the article relates to a potential sales opportunity for Backbase - the leader in digital engagement banking.\n\nOutput is always structured and for each article contains: title, description and recommendation "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1328,
        0
      ],
      "id": "febfa29f-00b3-4eb7-81fc-e523f9959db4",
      "name": "Section Writer Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ],
      "id": "bb5b31f6-09c3-4a26-958c-604e6c59cb32",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1920,
        224
      ],
      "id": "3a45ebbe-e953-4cd9-93bf-d9abc7a95374",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "bjlOw0yNlqrjXTrQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $('Planning Agent').item.json.output.title }}\n\nSections\n{{ $json.output.join(\"\\n\\n\\n\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert HTML email coder. Create a single, production-ready HTML email using ONLY table-based layout and INLINE CSS (no <style> blocks, no external CSS/JS). Output ONLY the HTML (no prose, no backticks).\n\nREQUIREMENTS\n- Overall background: dark blue (#0A2540).\n- Content cards: each article sits in its own white (#FFFFFF) box with black (#000000) text.\n- Max content width: 600px, centered.\n- Use <table role=\"presentation\"> everywhere; include cellpadding/cellspacing=\"0\".\n- Inline CSS only; set colors on both style and HTML attributes (e.g., bgcolor) for wide client support.\n- Fonts: system sans-serif (Arial, Helvetica, sans-serif).\n- Accessible: meaningful headings, alt text placeholders, sufficient contrast.\n- No images or webfonts required; if a logo is needed, use ALT-only placeholder.\n\nINPUT (render these variables):\n- {{ $('Planning Agent').item.json.output.title }} : string\n- {{ JSON.stringify($json.output) }} : JSON array of objects with fields:\n  - title (string)\n  - description (string)  // the article text/body\n  - recommendation (string)\n\nSTRUCTURE\n1) Header: shows {{ $('Planning Agent').item.json.output.title }} prominently.\n2) Articles: iterate over {{ JSON.stringify($json.output)}} and for each item render a white “card”:\n   - Article title (bold heading)\n   - Article body (the \"description\")\n   - “Recommendation:” label followed by the recommendation text\n\nSTYLE GUIDELINES (inline these on elements)\n- Body: margin:0; padding:0; background:#0A2540;\n- Outer wrapper table (100% width): bgcolor=\"#0A2540\";\n- Inner container (max 600px): background:transparent; padding:24px 12px;\n- Card table cell: background:#FFFFFF; color:#000000; border-radius:8px; padding:20px; margin-bottom:16px; display:block;\n- Headings: font-size:20px; line-height:1.3; margin:0 0 8px 0; font-weight:bold;\n- Paragraph: font-size:14px; line-height:1.6; margin:0 0 12px 0;\n- Small label (e.g., “Recommendation:”): font-weight:bold;\n\nOUTPUT TEMPLATE (fill with the provided variables and repeat the card block per article):\n- Use a full HTML document with <!DOCTYPE html>, <html>, <head><meta charset=\"utf-8\"></head>, and <body>.\n- Use a 100%-width wrapper table (dark blue), then a centered 600px table.\n- Header row with the newsletter title in a white or transparent cell that contrasts and is readable.\n- For each article in the list, output a separate white card block as described.\n\nFINAL RULES\n- Do not include sample text; use the provided variables only.\n- No tracking pixels, no scripts, no forms, no external resources.\n- Return only the finalized HTML.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1920,
        0
      ],
      "id": "33f970e2-5ef9-4c39-8e4f-a9451121ceff",
      "name": "Editor Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.news_results.map(item => JSON.stringify(item.title,null,2)).join(\"\\n\\n\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Planning Agent. You have received a list of artices from a search query on \"Middle East Fintech\".\n\nYour task is to:\n- Review the list of articles/topics.\n- Order by the relevant ones that deal specifically with:\n-- Banking in the Middle East (retail, SME, corporate, or investment banking).\n-- Digital transformation in financial services (modernization, engagement banking, digital platforms, open banking, payments innovation).\n- Exclude generic fintech content that does not directly relate to banking or digital transformation (e.g., pure crypto, generic investment news, unrelated startups).\n- Do not include articles that are an aggregation of articles. The articles should be about a single item.\n- Return a curated list of the most relevant articles, ordered by relevancy\n- Keep the title of the articles concise, remove any URLs in the article"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        0
      ],
      "id": "276d5ddf-8502-49c4-aa9d-4ba6e6fdace1",
      "name": "Planning Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Backbase Fintech Leads - {{ $json.output.subject }}",
        "emailType": "html",
        "message": "={{ $json.output.content }}",
        "options": {
          "sendTo": "jesse@backbase.com "
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2304,
        0
      ],
      "id": "59067e9a-1b9e-4754-a8bd-90a20beb2eb3",
      "name": "Create a draft",
      "webhookId": "f41aef52-f6d7-45c0-841a-a3bd45712ed9",
      "credentials": {
        "gmailOAuth2": {
          "id": "YT3Uz255g7HYwHkZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_news",
        "q": "middle east fintech, banking and digital banking news",
        "additionalFields": {
          "gl": "ae",
          "hl": "en"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        320,
        0
      ],
      "id": "10055158-ba75-4e58-8ffb-3e5a7d6a1000",
      "name": "Initial Research",
      "credentials": {
        "serpApi": {
          "id": "70n3oWZqgpftJEU6",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Items Array\",\n  \"type\": \"array\",\n  \"minItems\": 1,\n  \"items\": {\n    \"type\": \"object\",\n    \"additionalProperties\": false,\n    \"required\": [\"title\", \"description\", \"recommendation\"],\n    \"properties\": {\n      \"title\": {\n        \"type\": \"string\",\n        \"minLength\": 1,\n        \"maxLength\": 200\n      },\n      \"description\": {\n        \"type\": \"string\",\n        \"minLength\": 1,\n        \"maxLength\": 1000\n      },\n      \"recommendation\": {\n        \"type\": \"string\",\n        \"minLength\": 1,\n        \"maxLength\": 1000\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1472,
        224
      ],
      "id": "717e5336-9663-4a22-8f0b-83f649fe8622",
      "name": "Article Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"the newsletter content\"\n    }\n  },\n  \"required\": [\"subject\",\"content\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2128,
        208
      ],
      "id": "0bb590db-6450-4d97-b7de-3063ee8f24e2",
      "name": "E-mail Parser"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Section Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Planning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Research Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Topics": {
      "main": [
        [
          {
            "node": "Section Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Research": {
      "main": [
        [
          {
            "node": "Planning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Section Writer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "E-mail Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2deed262-143d-4e4b-9aa7-0c581b5b4d49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4af80f161237951d072e097904e269e57c0bdb7092305ef570b6c4201b273425"
  },
  "id": "aAtfkFWLzYAzKiZh",
  "tags": []
}